#h1 {
    display: flex;
    justify-content: center;
    height:70px;
    background-color:black;
    color:aqua;
    
}

#container {
     width:470px;
     height:470px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:5px;
   background-color: black;
   border: 5px solid black;
   border-radius:15px;
  
}

#main {
    
    background-color:black;
    display:flex;
    justify-content: center;
   
}


.button {
    background-color: black;
    color:white;
    font-size: 45px;
    border:5px solid aqua;
    border-radius:15px;
    display:flex;
    justify-content: center;
    align-items:center;
   box-sizing: border-box;
     
}

#postgame {
     height:150px;
    background-color:black;
    color:black;
   display:flex;
   justify-content: center;
   align-items: center;
    
}

#reset {
    height:50px;
    width:200px;
    background-color:black;
    color:aqua;
    border:5px solid white;
}

#classes {
    background-color:aqua;
}



#End {
   
    color:aqua;
    font-size: large;
    background-color:black;
    height:50px;
    width:170px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin-top: 5px;
    padding: 3px;
    border: 4px solid white;
}

#newgame {
    margin-left: 10px;
    margin-top: 20px;
    height:50px;
    width:100px;
    background-color:black;
    border: 4px solid white;
    border-radius: 15px;
    color:aqua;
    margin-bottom: 10px;
}

.outerhead {
    background-color: black;
    
    justify-content: center;
     display:none;
     align-items: center;
     gap:10px;
    
}

.show {
    display:flex;
}

.Drawout {
    display:none;
}

.Drawout.ShowDraw {
    display: flex;
}

#draw {
     margin:10px;
    height: 75px;
    width: 90px;
    background-color: black;
    color:aqua;
    border: 5px solid white;
}

